<div class="overflow-scroll">
    <div class="header">
        <div class="menu-items">
            <a *ngFor="let item of companyMenuList" class="item" routerLinkActive="active"
                [routerLink]="item.path">{{item.label}}</a>

        </div>
        <div class="close-button">
            <img (click)="openOrCloseMenu()" src="assets/icons/hamburger.png" alt="">
        </div>
        <div class="auth-buttons">
            
            <div class="buttons" *ngIf="!isAuthorized">
                <button (click)="openLoginModal()" class="registration-btn">Войти</button>
                <button (click)="registrationModal()" class="login-btn">Регистрация</button>
            </div>
            <a *ngIf="isAuthorized" class="item margin-left-10" routerLinkActive="active" routerLink="/user">Личный кабинет</a>
            <div class="buttons" *ngIf="isAuthorized">
                <button (click)="logout()" class="logout-btn">Logout</button>
            </div>
        </div>
    </div>
</div>