<form class="form" action="" [formGroup]="selectGroup">
  <div *ngIf="!isNext">
    <div class="form-group">
      <label for="">Страна</label>
      <div class="dropdown-content">
        <p-dropdown [options]="countries" emptyFilterMessage="Результаты не найдены" placeholder="Нажмите чтобы выбрать"
          filter="true" optionLabel="name" formControlName="country"></p-dropdown>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="">Вид спорта</label>
      <div class="dropdown-content">
        <p-dropdown [options]="sportTypes" emptyFilterMessage="Результаты не найдены"
          placeholder="Нажмите чтобы выбрать" filter="true" optionLabel="name" formControlName="sportType"></p-dropdown>
      </div>
    </div> -->
  </div>
  <div *ngIf="isNext" class="form-group">
    <label for="">Лига</label>
    <div class="dropdown-content">
      <p-dropdown [options]="ligas" emptyFilterMessage="Результаты не найдены" placeholder="Нажмите чтобы выбрать"
        filter="true" optionLabel="liga" formControlName="liga"></p-dropdown>
    </div>
  </div>
  <div class="bottom-btns">
    <button class="find-btn" (click)="find()">Найти</button>
    <button class="back-btn" (click)="goBack()" *ngIf="isNext">Назад</button>
  </div>
</form>