<!-- <div class="betting">
  <div>
    <div class="card-content">   
        <app-betting-card *ngFor="let item of tourArray"  [item]="item"></app-betting-card>  
    </div>
    <div class="confirm">
      <button>Потвердить</button>
    </div>
  </div>
  <div class="result-content">
    <div class="result">
      <p>Сумма очков за 20 тур</p>
      <h1>7</h1>
    </div>
    <div class="result">
      <p>Сумма очков за 20 тур чемпионат</p>
      <h1>68</h1>
    </div>
    <div class="result">
      <p>Место в турнире</p>
      <h1>4</h1>
    </div>
  </div>
</div> -->
<form class="form" action="" [formGroup]="selectGroup">
  <div *ngIf="!isNext">
    <div class="form_group">
      <label for="">Страна</label>
      <p-dropdown [options]="countries" placeholder="Нажмите чтобы выбрать" optionLabel="name" formControlName="country"></p-dropdown>
    </div>
    <div class="form_group">
      <label for="">Вид спорта</label>
      <p-dropdown [options]="sportTypes" placeholder="Нажмите чтобы выбрать" optionLabel="name" formControlName="sportType"></p-dropdown>
    </div>
  </div>
  <div *ngIf="isNext" class="form_group">
    <label for="">Лига</label>
    <p-dropdown [options]="ligas" placeholder="Нажмите чтобы выбрать" optionLabel="liga" formControlName="liga"></p-dropdown>
  </div>
  <div class="bottom_btns">
    <button class="find_btn" (click)="find()">Найти</button>
    <button class="back_btn" (click)="goBack()" *ngIf="isNext">Назад</button>
  </div>
</form>