<div class="how-to-play-content">
    <div class="settings-title">
        <div class="title">Как играть в СпортКлик?</div>
    </div>
    <div class="settings-content">
        СпортКлик- это интерактивная игра, которая основана на твоем мастерстве
        и общих спортивных знаниях.
        Цель игры- накопить наибольшее количество очков, правильно выбрав
        результат для каждого матча в период проведения чемпионата.
        Чтобы начать играть, зарегистрируйся на СпортКлик.ru, выбери чемпионат.
        Что дальше? на странице турнира выбери ближайший тур, и на свое
        усмотрение укажи верный исход матча. И так во всех играх тура.
        Если передумал, изменения можно производить до начала каждого матча.
        Как начисляются очки?
        очки начисляются в течение часа после завершения матчей тура в
        соответствии с данными, которые СпортКлик получает от компании-
        поставщика статистики.
        Правила подсчета очков. За верно Клик`нутый исход матча – 1 балл
        Внимание: учитывается только счет в основное время.
        Победит тот, кто быстрее и точнее всех выберет верные исходы матчей в
        чемпионате!
        …И не забудь позвать друзей, чтобы сделать соревнование увлекательнее!
        Что делать, если остались вопросы? пиши по адресу games@sportclick.ru
    </div>
</div>