.how-to-play-content{
    height: 100%;
    background: #232323;
    .settings-content{
        color: white;
        line-height: 27px;
        font-size: 17px;
        padding: 15px;
    }
    .email{
        color: #589CFE;
    }
}