.liga-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  .betting {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .result-content {
      color: white;
      margin-left: 20px;
      .result {
        display: flex;
        align-items: center;
        p {
          width: 263px;
          margin: 3px;
        }
        h1 {
          margin: 0 0 0 10px;
        }
      }
    }
  }
 
}
.tour-list {
  color: white;
  max-width: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-right: 20px;
  .tour {
    padding: 7px;
    cursor: pointer;
    white-space: nowrap;
  }
}

.margin-left-7 {
  margin-left: 7px;
}
.tour:hover {
  text-decoration: underline;
}
.active {
  text-decoration: underline;
}

.confirm {
  text-align: center;
  button {
    background-color: rgba(255, 255, 255, 0.03);
    border: none;
    padding: 20px;
    color: white;
    margin: 10px auto;
    border-radius: 3px;
    font-size: 15px;
  }
}
.detail-container {
  margin-top: 20px;
  .tab-bar {
    width: 100%;
    height: 50px;
    background-color: #414141;
    display: flex;
    .tab-item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      transition: all 0.5s;
      cursor: pointer;
      .label {
        font-size: 16px;
        padding: 0 40px;
        font-weight: 400;
      }
    }
    .activeTabItem {
      color: black;
      background-color: white;
      border: 1px solid black;
    }
  }
  .products {
    min-height: 515px;
  }
}
.activeTabItem {
  background-color: #117815;
}
@media screen and(max-width:800px){
  .liga-content{
    flex-direction: column;
    align-items: flex-start !important;
  }
  .result-content{
    margin-left: 0 !important;
  }
  .betting{
    padding-left: 0 !important;
  }
  .place{
    font-size: 15px !important;
  }
}