.terms-header{
    background: #2d2d2d;
    display: flex;
    align-items: center;
    color: #e6e6e6;
    padding: 30px;
    justify-content: center;
    .title{
        font-size: 25px ;
        font-weight: bold;
        line-height: 1.33;
        text-align: center;
       
    }
}
.terms-content{   
    background: #232323;
}
.terms-wraper{
    color: #a3a3a3;
    padding: 15px;
    .header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 48px;
        .number{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            background: #2d2d2d;
        }
        .header-text{
            font-size: 18px;
            margin-left: 16px;
        }
    }
    .text{
        margin-top: 10px;
        font-size: 16px;
        line-height: 1.5;
    }
}