<div class="settings-title">
    <div class="title">Общие условия использования</div>
</div>
<div class="settings-content">
    <div *ngFor="let item of terms" class="settings-wraper">
        <div class="header">
            <div class="number">
                <span>
                    {{item.id}}
                </span>
            </div>
            <div class="header-text">{{item.header}}</div>
        </div>
        <div class="text">
            {{item.text}}
        </div>
    </div>
</div>