<form class="form" action="" [formGroup]="settingsGroup">
  <div [ngStyle]="{'background-image':userImage}" class="image">
    <div class="camera-container">
      <input id="file-upload" (change)="changeImage($event)" type="file" accept="image/*" />
      <label for="file-upload" class="custom-file-upload">
        <i class="material-icons">
          camera_alt
        </i>

      </label>
    </div>
  </div>
  <div class="settings-form">
    <label for="">Имя</label>
    <input type="text" formControlName="firstName">
   
  </div>
  <div class="settings-form">
    <label for="">Фамилия</label>
    <input type="text" formControlName="lastName">
  
  </div>
  <div class="settings-form">
    <label for="">Страна</label>   
      <mat-form-field >
        <input matInput
               placeholder="Выберите страну"
               aria-label="country"
               [matAutocomplete]="auto"
               formControlName="country">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let country of countries" [value]="country?.name">
            <img class="example-option-img" aria-hidden [src]="country?.flag" height="25">
            <span>{{country?.name}}</span> 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    
  </div>

  <!-- <div class="settings-form">
        <label for="">Email</label>
        <input type="email" formControlName="email">
        <p class="required-field"
            *ngIf="settingsGroup.get('email').hasError('required') && settingsGroup.get('email').touched">Это
            обязательное поле *</p>
        <p class="required-field"
            *ngIf="settingsGroup.get('email').hasError('pattern') && settingsGroup.get('email').touched">Введите
            правильный email *</p>
    </div>
    <div class="settings-form">
        <label for="">Пароль</label>
        <input type="text" formControlName="password">
        <p class="required-field"
            *ngIf="settingsGroup.get('password').hasError('required') && settingsGroup.get('password').touched">Это
            обязательное поле *</p>
    </div> -->
  <div class="save-btn">
    <button  (click)="save()">Сохранить</button>
  </div>
</form>