<form class="form" action="" [formGroup]="settingsGroup">
  <div [ngStyle]="{'background-image':userImage}" class="image">
    <div class="camera-container">
      <input id="file-upload" (change)="changeImage($event)" type="file" accept="image/*" />
      <label for="file-upload" class="custom-file-upload">
        <i class="material-icons">
          camera_alt
        </i>

      </label>
    </div>
  </div>
  <div class="settings-form">
    <label for="">Имя</label>
    <input type="text" formControlName="firstName">
   
  </div>
  <div class="settings-form">
    <label for="">Фамилия</label>
    <input type="text" formControlName="lastName">
  
  </div>
  <div class="settings-form">
    <label for="">Страна</label>
    <!-- <p-dropdown [options]="countries" formControlName="country">
      <ng-template let-item pTemplate="selectedItem">
        <img [src]="item?.flag" class="active_lng_image" />
        <span style="vertical-align:middle; margin-left: .5em">{{item?.name}}</span>
      </ng-template>
      <ng-template let-val pTemplate="countries">       
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <img [src]="val.flag" style="width:24px;position:absolute;top:1px;left:5px" />
          <span style="font-size:14px;float:right;margin-top:4px">{{val?.name}}</span>
        </div>
      </ng-template>
    </p-dropdown> -->
    <p-dropdown [options]="countries" optionLabel="name" formControlName="country" placeholder="Выберите страну"
      filter="true"></p-dropdown>
    
  </div>

  <!-- <div class="settings-form">
        <label for="">Email</label>
        <input type="email" formControlName="email">
        <p class="required-field"
            *ngIf="settingsGroup.get('email').hasError('required') && settingsGroup.get('email').touched">Это
            обязательное поле *</p>
        <p class="required-field"
            *ngIf="settingsGroup.get('email').hasError('pattern') && settingsGroup.get('email').touched">Введите
            правильный email *</p>
    </div>
    <div class="settings-form">
        <label for="">Пароль</label>
        <input type="text" formControlName="password">
        <p class="required-field"
            *ngIf="settingsGroup.get('password').hasError('required') && settingsGroup.get('password').touched">Это
            обязательное поле *</p>
    </div> -->
  <div class="save-btn">
    <button  (click)="save()">Сохранить</button>
  </div>
</form>