<form class="form" action="" [formGroup]="settingsGroup">
  <div [ngStyle]="{'background-image':userImage}" class="image">
    <div class="camera-container">
      <input id="file-upload" (change)="changeImage($event)" type="file" accept="image/*" />
      <label for="file-upload" class="custom-file-upload">
        <i class="material-icons">
          camera_alt
        </i>

      </label>
    </div>
  </div>
  <div class="settings-form">
    <label for="">Имя</label>
    <input type="text" formControlName="firstName">

  </div>
  <div class="settings-form">
    <label for="">Фамилия</label>
    <input type="text" formControlName="lastName">

  </div>
  <div class="settings-form">
    <label for="">Страна</label>
    <p-dropdown [options]="countries" emptyFilterMessage="Результаты не найдены" optionLabel="name"
      formControlName="country" placeholder="Выберите страну" filter="true"></p-dropdown>
  </div>

  <!-- <div class="settings-form">
        <label for="">Email</label>
        <input type="email" formControlName="email">
        <p class="required-field"
            *ngIf="settingsGroup.get('email').hasError('required') && settingsGroup.get('email').touched">Это
            обязательное поле *</p>
        <p class="required-field"
            *ngIf="settingsGroup.get('email').hasError('pattern') && settingsGroup.get('email').touched">Введите
            правильный email *</p>
    </div>
    <div class="settings-form">
        <label for="">Пароль</label>
        <input type="text" formControlName="password">
        <p class="required-field"
            *ngIf="settingsGroup.get('password').hasError('required') && settingsGroup.get('password').touched">Это
            обязательное поле *</p>
    </div> -->
  <div class="save-btn">
    <button (click)="save()">Сохранить</button>
  </div>
</form>