
    .form_group{
        width: 70%;
        margin: 10px auto 0 auto;    
        label{color:white}  
    }

.save_btn{
    margin: 10px 0;
    text-align: center;
    button{
        width: 70%;
        background: #009900;
        text-transform: uppercase;
        padding: 15px;
        border: none;
        color: white;
        border-radius: 6px;
    }
}