<!-- <div class="personal_area">
    <div class="personal-menu">
        <div [routerLink]="menu.path" class="item" *ngFor="let menu of personalAreaMenu">
            <label>{{menu?.label}}</label>
        </div>
    </div>
    <div class="personal-content">
        <router-outlet></router-outlet>
    </div>
</div> -->
<div class="personal">
    <div class="personal-menu">
        <label routerLinkActive="active-path" [routerLink]="menu.path"
            *ngFor="let menu of personalAreaMenu">{{menu?.label}}</label>
    </div>
    <div class="personal-content">
        <router-outlet></router-outlet>
    </div>
</div>