<div class="header">
    <div class="logo">
        Логотип
        приложения
    </div>
    <div class="header-content">
        <h1 class="title">СпортКлик</h1>
    </div>
</div>
<div class="description">Описание</div>
<div>
    <form action="" [formGroup]="loginForm">
        <div class="form_group">
            <label for="">Email</label>
            <input type="email" formControlName="email">
        </div>
        <div class="form_group">
            <label for="">Пароль</label>
            <input type="password" formControlName="password">
        </div>
        <div class="save_btn">
            <button [disabled]="loginForm.invalid" (click)="login()">Войти</button>
        </div>
    </form>
</div>