.mat-expansion-panel-body {
    padding: 0;
}
.mat-expansion-panel {
    background: transparent;
    .mat-expansion-panel-header {
        padding: 0;
    }
    .mat-expansion-panel-body {
        padding: 0;
    }
    .mat-expansion-panel-header-title {
        padding-left: 10px;
        color: white;
    }
}
.countries-contaier {
    width: 250px;
    color: white;
    padding: 10px;
    .country-ref {
        display: block;
        color: white;
        // padding: 8px 16px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
