.liga-header{
    margin-top: 15px;
    background: #414141;
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    cursor: pointer;
    .title{
        margin-bottom: 7px;
    }
}