/* You can add global styles to this file, and also import other style files*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

$font-main: "Roboto", sans-serif;

$bg: #000e1a;
button {
  cursor: pointer;
}
.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
button:disabled {
  opacity: 0.6;
}
.mat-dialog-container {
  padding: 0 !important;
}
.svg-icon {
  width: 2em;
  height: 2em;
}
.required-field {
  color: red;
  font-size: 12px;
  margin: 5px 0;
}
* {
  outline: none;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// Colours

// Basic
body {
  background: $bg;
  font-family: $font-main;
  margin: 0;
  overflow-x: hidden;
}
.display-flex{
  display: flex;
}

.form{
  padding: 10px;
  .form-group{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      label{
          font-size: 16px;
      }
      input{
          margin-top: 10px;
          padding-left:5px;
          height: 33px;
          border-radius: 6px;
          border: 1px solid grey;
      }
  }
}
.container {
  max-width: 1140px;
  margin:0 auto;
}
*{
  outline: none;
}
.mat-expansion-indicator::after{
  color: white;
}
.overflow-x-auto{
  overflow-x: auto
}
.settings-title{
  background: #2d2d2d;
  display: flex;
  align-items: center;
  color: #e6e6e6;
  padding: 30px;
  justify-content: center;
  .title{
      font-size: 25px ;
      font-weight: bold;
      line-height: 1.33;
      text-align: center;
     
  }
}
.settings-content{   
  background: #232323;
}