/* You can add global styles to this file, and also import other style files*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

$font-main: "Roboto", sans-serif;

$bg: #000e1a;
button {
  cursor: pointer;
}
.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
button:disabled {
  opacity: 0.6;
}
.mat-dialog-container {
  padding: 0 !important;
}
.svg-icon {
  width: 2em;
  height: 2em;
}
.required-field {
  color: red;
  font-size: 12px;
}
* {
  outline: none;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// Colours

// Basic
body {
  background: $bg;
  font-family: $font-main;
  margin: 0;
  overflow-x: hidden;
}
