.footer-content{
    margin: 0 auto;    
    padding: 20px 15px;
    width: 100%;
    background: #1A1A1A;
    color: white;
    .categories-list{
        display: flex;
        flex-direction: column;
        max-width: 280px;
        a{
            color: white;
            margin-bottom: 8px;
            padding: 7px;
        }
    }
}
a:hover{
    background-color: #222222;
}