.table_content{
    .table_item{
        margin-top: 15px;
        background: #414141;
        padding: 15px;
        display: flex;
        align-items: center;
        width: 100%;
        img{
            margin-right: 10px;
            width: 15px;
            height: 15px;
        }
    }
}